/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bacteria-1-name: 'bacteria-1';
$bacteria-1-x: 459px;
$bacteria-1-y: 320px;
$bacteria-1-offset-x: -459px;
$bacteria-1-offset-y: -320px;
$bacteria-1-width: 48px;
$bacteria-1-height: 53px;
$bacteria-1-total-width: 1042px;
$bacteria-1-total-height: 498px;
$bacteria-1-image: '../images/sprite.png';
$bacteria-1: (459px, 320px, -459px, -320px, 48px, 53px, 1042px, 498px, '../images/sprite.png', 'bacteria-1', );
$bacteria-2-name: 'bacteria-2';
$bacteria-2-x: 929px;
$bacteria-2-y: 312px;
$bacteria-2-offset-x: -929px;
$bacteria-2-offset-y: -312px;
$bacteria-2-width: 66px;
$bacteria-2-height: 71px;
$bacteria-2-total-width: 1042px;
$bacteria-2-total-height: 498px;
$bacteria-2-image: '../images/sprite.png';
$bacteria-2: (929px, 312px, -929px, -312px, 66px, 71px, 1042px, 498px, '../images/sprite.png', 'bacteria-2', );
$castle-1-name: 'castle-1';
$castle-1-x: 0px;
$castle-1-y: 0px;
$castle-1-offset-x: 0px;
$castle-1-offset-y: 0px;
$castle-1-width: 301px;
$castle-1-height: 498px;
$castle-1-total-width: 1042px;
$castle-1-total-height: 498px;
$castle-1-image: '../images/sprite.png';
$castle-1: (0px, 0px, 0px, 0px, 301px, 498px, 1042px, 498px, '../images/sprite.png', 'castle-1', );
$castle-2-name: 'castle-2';
$castle-2-x: 311px;
$castle-2-y: 241px;
$castle-2-offset-x: -311px;
$castle-2-offset-y: -241px;
$castle-2-width: 138px;
$castle-2-height: 139px;
$castle-2-total-width: 1042px;
$castle-2-total-height: 498px;
$castle-2-image: '../images/sprite.png';
$castle-2: (311px, 241px, -311px, -241px, 138px, 139px, 1042px, 498px, '../images/sprite.png', 'castle-2', );
$castle-3-1-name: 'castle-3-1';
$castle-3-1-x: 857px;
$castle-3-1-y: 92px;
$castle-3-1-offset-x: -857px;
$castle-3-1-offset-y: -92px;
$castle-3-1-width: 62px;
$castle-3-1-height: 320px;
$castle-3-1-total-width: 1042px;
$castle-3-1-total-height: 498px;
$castle-3-1-image: '../images/sprite.png';
$castle-3-1: (857px, 92px, -857px, -92px, 62px, 320px, 1042px, 498px, '../images/sprite.png', 'castle-3-1', );
$castle-3-2-name: 'castle-3-2';
$castle-3-2-x: 785px;
$castle-3-2-y: 92px;
$castle-3-2-offset-x: -785px;
$castle-3-2-offset-y: -92px;
$castle-3-2-width: 62px;
$castle-3-2-height: 320px;
$castle-3-2-total-width: 1042px;
$castle-3-2-total-height: 498px;
$castle-3-2-image: '../images/sprite.png';
$castle-3-2: (785px, 92px, -785px, -92px, 62px, 320px, 1042px, 498px, '../images/sprite.png', 'castle-3-2', );
$castle-4-name: 'castle-4';
$castle-4-x: 702px;
$castle-4-y: 92px;
$castle-4-offset-x: -702px;
$castle-4-offset-y: -92px;
$castle-4-width: 73px;
$castle-4-height: 336px;
$castle-4-total-width: 1042px;
$castle-4-total-height: 498px;
$castle-4-image: '../images/sprite.png';
$castle-4: (702px, 92px, -702px, -92px, 73px, 336px, 1042px, 498px, '../images/sprite.png', 'castle-4', );
$castle-5-name: 'castle-5';
$castle-5-x: 615px;
$castle-5-y: 92px;
$castle-5-offset-x: -615px;
$castle-5-offset-y: -92px;
$castle-5-width: 77px;
$castle-5-height: 405px;
$castle-5-total-width: 1042px;
$castle-5-total-height: 498px;
$castle-5-image: '../images/sprite.png';
$castle-5: (615px, 92px, -615px, -92px, 77px, 405px, 1042px, 498px, '../images/sprite.png', 'castle-5', );
$castle-6-1-name: 'castle-6-1';
$castle-6-1-x: 370px;
$castle-6-1-y: 441px;
$castle-6-1-offset-x: -370px;
$castle-6-1-offset-y: -441px;
$castle-6-1-width: 49px;
$castle-6-1-height: 43px;
$castle-6-1-total-width: 1042px;
$castle-6-1-total-height: 498px;
$castle-6-1-image: '../images/sprite.png';
$castle-6-1: (370px, 441px, -370px, -441px, 49px, 43px, 1042px, 498px, '../images/sprite.png', 'castle-6-1', );
$castle-6-2-name: 'castle-6-2';
$castle-6-2-x: 311px;
$castle-6-2-y: 441px;
$castle-6-2-offset-x: -311px;
$castle-6-2-offset-y: -441px;
$castle-6-2-width: 49px;
$castle-6-2-height: 43px;
$castle-6-2-total-width: 1042px;
$castle-6-2-total-height: 498px;
$castle-6-2-image: '../images/sprite.png';
$castle-6-2: (311px, 441px, -311px, -441px, 49px, 43px, 1042px, 498px, '../images/sprite.png', 'castle-6-2', );
$castle-6-3-name: 'castle-6-3';
$castle-6-3-x: 397px;
$castle-6-3-y: 390px;
$castle-6-3-offset-x: -397px;
$castle-6-3-offset-y: -390px;
$castle-6-3-width: 70px;
$castle-6-3-height: 38px;
$castle-6-3-total-width: 1042px;
$castle-6-3-total-height: 498px;
$castle-6-3-image: '../images/sprite.png';
$castle-6-3: (397px, 390px, -397px, -390px, 70px, 38px, 1042px, 498px, '../images/sprite.png', 'castle-6-3', );
$castle-6-4-name: 'castle-6-4';
$castle-6-4-x: 311px;
$castle-6-4-y: 390px;
$castle-6-4-offset-x: -311px;
$castle-6-4-offset-y: -390px;
$castle-6-4-width: 76px;
$castle-6-4-height: 41px;
$castle-6-4-total-width: 1042px;
$castle-6-4-total-height: 498px;
$castle-6-4-image: '../images/sprite.png';
$castle-6-4: (311px, 390px, -311px, -390px, 76px, 41px, 1042px, 498px, '../images/sprite.png', 'castle-6-4', );
$castle-6-name: 'castle-6';
$castle-6-x: 528px;
$castle-6-y: 92px;
$castle-6-offset-x: -528px;
$castle-6-offset-y: -92px;
$castle-6-width: 77px;
$castle-6-height: 405px;
$castle-6-total-width: 1042px;
$castle-6-total-height: 498px;
$castle-6-image: '../images/sprite.png';
$castle-6: (528px, 92px, -528px, -92px, 77px, 405px, 1042px, 498px, '../images/sprite.png', 'castle-6', );
$clouds-name: 'clouds';
$clouds-x: 528px;
$clouds-y: 0px;
$clouds-offset-x: -528px;
$clouds-offset-y: 0px;
$clouds-width: 514px;
$clouds-height: 82px;
$clouds-total-width: 1042px;
$clouds-total-height: 498px;
$clouds-image: '../images/sprite.png';
$clouds: (528px, 0px, -528px, 0px, 514px, 82px, 1042px, 498px, '../images/sprite.png', 'clouds', );
$logotype-name: 'logotype';
$logotype-x: 702px;
$logotype-y: 438px;
$logotype-offset-x: -702px;
$logotype-offset-y: -438px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 1042px;
$logotype-total-height: 498px;
$logotype-image: '../images/sprite.png';
$logotype: (702px, 438px, -702px, -438px, 148px, 52px, 1042px, 498px, '../images/sprite.png', 'logotype', );
$scroll-arrow-name: 'scroll-arrow';
$scroll-arrow-x: 1005px;
$scroll-arrow-y: 312px;
$scroll-arrow-offset-x: -1005px;
$scroll-arrow-offset-y: -312px;
$scroll-arrow-width: 31px;
$scroll-arrow-height: 29px;
$scroll-arrow-total-width: 1042px;
$scroll-arrow-total-height: 498px;
$scroll-arrow-image: '../images/sprite.png';
$scroll-arrow: (1005px, 312px, -1005px, -312px, 31px, 29px, 1042px, 498px, '../images/sprite.png', 'scroll-arrow', );
$scroll-name: 'scroll';
$scroll-x: 459px;
$scroll-y: 241px;
$scroll-offset-x: -459px;
$scroll-offset-y: -241px;
$scroll-width: 44px;
$scroll-height: 69px;
$scroll-total-width: 1042px;
$scroll-total-height: 498px;
$scroll-image: '../images/sprite.png';
$scroll: (459px, 241px, -459px, -241px, 44px, 69px, 1042px, 498px, '../images/sprite.png', 'scroll', );
$start-castle-name: 'start-castle';
$start-castle-x: 311px;
$start-castle-y: 0px;
$start-castle-offset-x: -311px;
$start-castle-offset-y: 0px;
$start-castle-width: 207px;
$start-castle-height: 231px;
$start-castle-total-width: 1042px;
$start-castle-total-height: 498px;
$start-castle-image: '../images/sprite.png';
$start-castle: (311px, 0px, -311px, 0px, 207px, 231px, 1042px, 498px, '../images/sprite.png', 'start-castle', );
$trees-1-name: 'trees-1';
$trees-1-x: 929px;
$trees-1-y: 92px;
$trees-1-offset-x: -929px;
$trees-1-offset-y: -92px;
$trees-1-width: 108px;
$trees-1-height: 100px;
$trees-1-total-width: 1042px;
$trees-1-total-height: 498px;
$trees-1-image: '../images/sprite.png';
$trees-1: (929px, 92px, -929px, -92px, 108px, 100px, 1042px, 498px, '../images/sprite.png', 'trees-1', );
$trees-2-name: 'trees-2';
$trees-2-x: 1003px;
$trees-2-y: 202px;
$trees-2-offset-x: -1003px;
$trees-2-offset-y: -202px;
$trees-2-width: 37px;
$trees-2-height: 100px;
$trees-2-total-width: 1042px;
$trees-2-total-height: 498px;
$trees-2-image: '../images/sprite.png';
$trees-2: (1003px, 202px, -1003px, -202px, 37px, 100px, 1042px, 498px, '../images/sprite.png', 'trees-2', );
$trees-3-name: 'trees-3';
$trees-3-x: 929px;
$trees-3-y: 202px;
$trees-3-offset-x: -929px;
$trees-3-offset-y: -202px;
$trees-3-width: 64px;
$trees-3-height: 100px;
$trees-3-total-width: 1042px;
$trees-3-total-height: 498px;
$trees-3-image: '../images/sprite.png';
$trees-3: (929px, 202px, -929px, -202px, 64px, 100px, 1042px, 498px, '../images/sprite.png', 'trees-3', );
$viferon-name: 'viferon';
$viferon-x: 860px;
$viferon-y: 438px;
$viferon-offset-x: -860px;
$viferon-offset-y: -438px;
$viferon-width: 144px;
$viferon-height: 36px;
$viferon-total-width: 1042px;
$viferon-total-height: 498px;
$viferon-image: '../images/sprite.png';
$viferon: (860px, 438px, -860px, -438px, 144px, 36px, 1042px, 498px, '../images/sprite.png', 'viferon', );
$spritesheet-width: 1042px;
$spritesheet-height: 498px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($bacteria-1, $bacteria-2, $castle-1, $castle-2, $castle-3-1, $castle-3-2, $castle-4, $castle-5, $castle-6-1, $castle-6-2, $castle-6-3, $castle-6-4, $castle-6, $clouds, $logotype, $scroll-arrow, $scroll, $start-castle, $trees-1, $trees-2, $trees-3, $viferon, );
$spritesheet: (1042px, 498px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
